.cards:hover {
    scale: 1.05;
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
}
.cards{


    transition: all 0.1s ease-out;
    user-select: none;
}

.lyric-box{
    @media(max-width: 1200px) {
        max-width: 500px;
    }

}
.right-hand{
    transition: all 0.15s ease-in-out;
    color: rgba(var(--bs-secondary-rgb));
}
.right-hand:hover{
    color: rgba(var(--bs-light-rgb));
}
